body{
    margin: 100px 60px 200px 60px;
    background: #D8D8D8;
    font-family: tahoma;
}

main{
    background: url(img/decor1.jpg);
    background-size: cover;
    display: flex;
    height: 700px;
    width: 100%;
    box-shadow: 0 3px 15px black;
    flex-wrap: wrap;
}

#aside-lt{
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 10%;
}

#box1{
    height: 100px;
    width: 100%;
    background: #D8D8D8;
}

#box2{
    height: 600px;
    width: 98%;
    border: 1px solid #D8D8D8;

}

#sections{
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 80%;
    justify-content: space-between;
}

header{
    height: 100px;
    width: 100%;
}

#nav{
    display: flex;
    flex-direction: row;
}

ul{
    list-style: none;
   
}

li{
    margin: 0 0 0 60px;
}

a{
    text-decoration: none;
    color: white;
    font-family: tahoma;
}

section{
    height: 300px;
    width: 50%;
    margin: auto 30px;
}



/*Container for footer flex*/
#foot{
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 100%;
}

/*Individual row boxes*/

#box-a{
    height: 200px;
    flex-basis: 15%;
    background: url(img/decor2.jpg);
    background-size: cover;
    min-width: 10%;
}

#box-b{
    background: #fff;
    height: 200px;
    width: 70%;
    
}

#box-c{
    background: rgb(143, 142, 142);
    height: 200px;
    width: 15%;
    opacity: 0.8;
    
}

/*Box containing texts in footer*/
#col-box{
    display: flex;
    flex-direction: row;
    margin: 10px;
    height: 180px;

}


/*Individual containers for each text in footer*/
#col-1{
    height: 180px;
    width: 33.3%;
    color: rgb(143, 142, 142);
    flex-grow: 1;

}

#col-2{
    height: 180px;
    width: 33.3%;
    color: rgb(143, 142, 142);
    flex-grow: 1;


}


#col-3{
    height: 180px;
    width: 33.6%;
    color: rgb(143, 142, 142);
    flex-grow: 1;

}

/*Texts in the footer*/
.font-fst{
    margin: 50px 0 0 15px;
}

.font-mid{
    margin: 40px 0 0 15px;
    font-size: 14px;
}

.font-md{
    margin: 110px 0 0 15px;
    font-size: 14px;

}


/*Aside on the right*/

#aside-rt{
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 10%;
}

#top{
    height: 100px;
    width: 100%;
    background: aqua;
}

#middle{
    height: 400px;
    width: 100%;
    background: rgb(255, 122, 226);
}

#bottom{
    height: 200px;
    width: 100%;
    background: rgb(86, 86, 252);
}

/*circle icons on footer*/
#nav2{
    margin-top: 160px;
}

#angle{
    margin: 60px;
    margin-left: 50px;
    color: white;

}

.textform{
    color: white;
    transform: rotate(270deg);
}

button{
    border: none;
    background: #D8D8D8;
    color: white;
    padding: 5px;
}

.p-text{
    color: white;
    margin-top: 0;
    margin-bottom:0; 
}